[submodule "asteroids_java"]
	path = asteroids_java
	url = git@github.com:agerber/asteroids_java.git
	branch = master
[submodule "asteroids_python"]
	path = asteroids_python
	url = git@github.com:agerber/asteroids_python.git
	branch = master
[submodule "asteroids_kotlin"]
	path = asteroids_kotlin
	url = git@github.com:agerber/asteroids_kotlin.git
	branch = master
[submodule "asteroids_cpp"]
	path = asteroids_cpp
	url = git@github.com:agerber/asteroids_cpp.git
	branch = master
